@import '~styles/colors';

.button {
  border-radius: 5px;
  padding: 10px 20px;
  background-color: $blue;
  color: $white;
  border: none;
  width: 100%;
  margin-top: 20px;
  outline: none;

  &--disabled {
    background-color: $gray;
  }

  &:hover {
    cursor: pointer;
  }
}
