@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
}

figure { 
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

