@import '~styles/colors';

.sidebar-item {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 0;

  &__container {
    padding: 5px;
  }

  &__icon {
    display: inline-block;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    padding: 4px;
    text-align: center;
    color: $blue;
    
    svg {
      vertical-align: middle;
    }
  }

  &__title {
    display: inline-block;
    margin-left: 20px;
    font-weight: 500;
    color: $black;
  }

  &--active {
    .sidebar-item {
      &__container {
        background-color: $white;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
      }
  
      &__icon {
        color: $black;
      }
  
      &__title {
        color: $black;
        width: 110px;
      }
    }
  }
}

.top-wave {
  width: 18px;
  height: 18px;
  background-color: #fff;
  position: absolute;
  display: inline-block;
  margin-top: -23px;

  &-border {
    width: 18px;
    height: 18px;
    background-color: $blue;
    border-bottom-right-radius: 25px;  
  }
}

.bottom-wave {
  width: 40px;
  height: 40px;
  background-color: $white;
  position: absolute;
  margin-left: 163px;
  margin-top: -15px;

  &-border {
    position: absolute;
    bottom: 0;
    width: 20px;
    height: 20px;
    background-color: $blue;
    border-top-right-radius: 25px;  
  }
}
