@import '~styles/mixins';

.login-layout {
  display: flex;
  height: 100vh;
  background-image: url('../../assets/images/blue-blur-background.jpg');
  background-size: 100%;
  background-repeat: no-repeat;

  @include mobile-portrait {
    background-size: auto;
  }
}
