@import '~styles/mixins';
@import '~styles/variables';

.grid-container {
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
  padding: $grid-padding;

  @for $i from 1 through $grid-rows {
    &--rows--#{$i} {
      grid-template-rows: repeat($i, auto);
    }
  }

  @include mobile-portrait {
    grid-template-columns: repeat($grid-responsive-columns, 1fr);
  }
}
